div {
    margin: 50px auto;
    width: 500px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

div:hover {
    background-color: rgba(138, 28, 201, 0.836);
    color: #fff;
}