<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Hola, Mundo - Django</title>
</head>
<body>
    <div>
        <h1>Hola, Mundo - Django</h1>
        <h2>Hola, Mundo - Django</h2>
        <h3>Hola, Mundo - Django</h3>
        <h4>Hola, Mundo - Django</h4>
        <h5>Hola, Mundo - Django</h5>
        <h6>Hola, Mundo - Django</h6>
    </div>
</body>
</html>